@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #F7F7F7;
}

body::-webkit-scrollbar {
  display: none;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  min-width: 100%;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

img {
  display: block;
}